aiofiles
aiosqlite
fastapi-camelcase
fastapi
imagehash
pytesseract
scikit-learn
transformers
uvicorn
python-multipart
pypika
orjson
requests
pydantic
psutil
starlette
numpy
show-in-file-manager
Pillow
scipy
tqdm
pendulum
pytest
torch
faiss-cpu
python-socketio
polars