aiofiles
aiosqlite
fastapi-camelcase
fastapi
imagehash
pandas
pytesseract
scikit-learn
transformers
uvicorn
python-multipart
pypika
orjson
torch
faiss-cpu
requests
pydantic
psutil
starlette
numpy
show-in-file-manager

Pillow
scipy
tqdm
pendulum
pytest