aiofiles
aiosqlite
fastapi-camelcase
fastapi
imagehash
pandas
pytesseract
scikit-learn
transformers
uvicorn
python-multipart
pypika
orjson
torch
faiss-cpu
requests
pydantic<2.0.0
psutil
starlette
numpy