.menu{
  font-size: small;
  height: 100vh;
  position: sticky;
  top: 0;
}

.menu h3,.menu .h3 {
  font-size: 1.1rem;
  margin-left: 1rem;
}

.clickable:hover{
  cursor: pointer;
}

.bi-caret-right {
  display: inline-block;
  transition: 0.2s;
  margin-left: 1rem;
}

.bi-caret-right.expand {
  transform: rotate(90deg) !important;
}

.bi-caret-right.hide {
  transform: rotate(0deg) !important;
}

.menu {
  overflow-wrap: break-word;
}


.hover-light:hover {
  background-color: rgb(240, 240, 240) !important;
}